/* General properties */
* {
  font-family: 'Titillium Web', sans-serif;

}

html, body {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1024px;
}

.title {
  font-size: 32px;
  color: #7d97ad;
}

/* HEADER */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 40px 0;
  padding-bottom: 30px;
  border-bottom: 3px solid #7d97ad;
}

.caption-name {
  color: #2d3c49;
  text-align: right;
  text-transform: uppercase;
}

.name {
  font-size: 44px;
  font-weight: 300;
  margin: 0;
  line-height: 1;
}

.position {
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  line-height: 1;
}


/* MAIN */

/* SECTION About me */
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-col {
  max-width: 50%;
}

.left-col__text {
  font-size: 20px;
  color: #7d97ad;
}

.photo {
  margin-top: 70px;
  width: 40%;
  height: 60%;
}

/* SECTION Portfolio */

.work {
  padding-bottom: 60px;
}

/* TODO: list of work */
.work__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.work__item {
  max-width: 30%;
  flex-basis: 30%;
  box-sizing: border-box;
}

.work__item_img {
  border: 3px solid #02b3e4;
}

.caption-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.work__item:hover,
.work__item:focus {
  transform: scale(1.1);
}

.work__item:active {
  transform: scale(1.05);
}

.caption-wrap__title:hover {
  color: #02b3e4;
}

.caption-wrap__title {
  font-size: 32px;
  color: #2d3c49;
  line-height: 1;
  margin: 0;
}


.caption-wrap__link {
  font-size: 16px;
  color: #2d3c49;
}

/* media queries */
@media (max-width: 960px) {

  .left-col__title {
    margin: 0;
  }

  .left-col__text {
    font-size: 16px;
  }

}

@media (max-width: 712px) {

  .title {
    text-align: center;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-col {
    order: 1;
    max-width: 80%;
  }

  .photo {
    width: 70%;
    height: auto;
    margin: 0 0 30px;
  }

  .work__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work__item {
    max-width: 60%;
    margin-bottom: 30px;
  }

}

@media (max-width: 380px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}